<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="scopeTest" class="scope.Scope" scope="singleton">
        <property name="name" value="Shamik Mitra"/>
    </bean>

    <bean id="scopeTestDuplicate" class="scope.Scope" scope="singleton">
        <property name="name" value="Samir Mitra"/>
    </bean>

    <bean id="prototype" class="scope.Prototype" scope="prototype">
        <property name="name" value="prototype"/>
    </bean>
</beans>